# Common ignore rules for Docker build context
.git
.DS_Store

frontend/node_modules
frontend/dist
frontend/.prettierrc
frontend/.prettierignore

backend/headscale-panel
backend/data.db
backend/.env
backend/headscale/
